@charset "UTF-8";

@media screen and (min-width:768px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    
   body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, blueviolet, blue, aqua);
   }
   #completo {
    border: 2px solid black;
    background-color: white;
    width: 80vw;
    height: 400px;
    border-radius: 4px;
   }
   #imagem {
    float: left;
    width: 40%;
    height: 420px;
    border-radius: 0px;
   }
   .email {
    margin: 50px;
   }
   .campo {
    float: right;
   }

}
@media screen and (min-width:900px) {
      * {
        padding: 0px;
        margin: 0px;
    }
    
   body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, blueviolet, blue, aqua);
   }
   #completo {
    margin-top: auto;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    width: 70vw;
    height: 400px;
    border-radius: 4px;
   }
   #imagem {
    float: left;
    width: 50%;
    height: 420px;
    border-radius: 0px;
    
}
#login {
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    background-color: black;
    color: white;
}
.campo > p > input {
    width: 430px;
    height: 40px;
    border-radius: 4px;
    text-indent: 10px;
}
}