@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Macondo&family=Playball&display=swap');

 :root {
    --fonte02 : "lobster", sans-serif
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(62, 13, 107);
}
#completo {
    display: block;
    margin: auto;
    margin-top: 15px;
    border: 2px solid black;
    width: 350px;
    height: 700px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    transition: width 0.3s, height 0.4s;
    transition-timing-function: ease;
}

#imagem {
    background-image: url('../imagens/pexels-artem-korsakov-132129914-15522394.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    margin: -10px;
    border-radius: 28px;
}
h1 {
    font-family: var(--fonte02);
    margin: 20px;
}
.campo {
    background-color: blueviolet;
    border-radius: 4px 28px 28px 4px;
    margin: 10px;
}
.email {
    margin-bottom: 10px;
}
.campo > p > input {
    width: 280px;
    height: 40px;
    border-radius: 28px;
    text-indent: 10px;
    padding-top: 20px;
    border: 3px solid blueviolet;

}
.campo > p > i {
    display:inline block;
    font-size: 2em;
    border-radius: 18px;
    width: 30px;
    height: 45px;;
}
#login {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    background-color: black;
    color: white;
}
#esqueci {
    padding: 10px;
    width: 120px;
    height: 32px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 9px;
}
#esqueci:hover {
    background-color: rgb(48, 146, 69);
}