@charset "UT-8";
* {
    padding: 0px;
    margin: 0px;
}
section {
    border: 2px solid black;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px ;
    border-radius: 20px;
    text-align: center;
}
form {
    padding: 20px;
}
p {
    padding: 10px;
}