@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Macondo&family=Playball&display=swap');

 :root {
    --fonte02 : "lobster", sans-serif
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(62, 13, 107);
}
#completo {
    border: 2px solid black;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

#imagem {
    background-image: url('../imagens/pexels-artem-korsakov-132129914-15522394.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    margin: -10px;
    border-radius: 20px;
}
h1 {
    font-family: var(--fonte02);
    margin: 20px;
}
.campo {
    background-color: blueviolet;
}
.email {
    margin-bottom: 10px;
}
.campo {
    border-radius: 10px;
    margin: 10px;
}
.campo > p {
    padding: 3px;
    margin: auto;
}
.campo > p > input {
    width: 330px;
    height: 30px;
    border-radius: 4px;
    text-indent: 10px;
}
#login {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    font-weight: bolder;
    background-color: black;
    color: white;
}
#esqueci {
    width: 120px;
    height: 32px;
    font-weight: bolder;
}
#esqueci:hover {
    background-color: brown;
}