@charset "UT-8";
* {
    padding: 0px;
    margin: 0px;
}
body, html {
    background-color: rgb(27, 3, 49);
}
section {
    border: 2px solid black;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:70px ;
    border-radius: 20px;
    text-align: center;
}

#imagem {
    background-image: url('../imagens/pexels-artem-korsakov-132129914-15522394.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 270px;
    margin: -10px;
    border-radius: 20px;
    
}
form {
    display: block;
}
 h1 {
    margin: 10px;
    font-family: sans-serif;
}
form > p {
    padding: 10px;
}
span {
    display: block;
    background-color: blueviolet;
    height: 35px;
    border-radius: 10px;
    
}
input {
    height: 30px;
    border: 2px solid blueviolet;
}