@charset "UT-8";

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Macondo&family=Playball&display=swap');

 :root {
    --fonte02 : "lobster", sans-serif
}
* {
    padding: 0px;
    margin: 0px;
}
body, html {
    background-color: rgb(27, 3, 49);
}
section {
    border: 2px solid black;
    width: 400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:70px ;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

#imagem {
    background-image: url('../imagens/pexels-artem-korsakov-132129914-15522394.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    margin: -10px;
    border-radius: 20px;
    
}
 h1 {
    margin: 10px;
    font-family: var(--fonte02);
    color: rgb(0, 0, 0);
}
input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}
span {
    font-weight: bolder;
}
.campo {
    background-color: blueviolet;
    border-radius: 9px;
    margin: 5px;
    padding: 3px;
    width: 350px;
}
.fl1 {
    padding: 10px;
    margin: 5px;
    background-color: aqua;
    height: 40px ;
    font-size: 17px;
    font-weight: bolder;
}
.fl {
    padding: 10px;
    margin: 5px;
    height: 30px;
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
}
.fl:hover {
    background-color: cadetblue;
}